.resume-table {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 35px;
  float: left;
}

.skills {
  width: 230px;
  border-right: 1px solid;
}

.skills-stars {
  width: 250px;
  padding-left: 30px;
}

.portfolio {
  text-align: center;
}

.portfolio img {
  width: 400px;
  height: 300px;
  padding: 50px;
  border-radius: 35%;
  margin-bottom: -40px;
}

.portfolio p {
  font-size: 14px;
}
