.resume-table {
  font-size: 25px;
  margin-left: 150px;
  font-weight: bold;
}

.resume-table td {
  width: 250px;
}

.portfolio {
  text-align: center;
}

.portfolio img {
  width: 400px;
  height: 300px;
  padding: 50px;
  border-radius: 35%;
  margin-bottom: -40px;
}

.portfolio p {
  font-size: 14px;
}
