.resume-table {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 35px;
  float: left;
}

.skills {
  width: 280px;
  text-align: center;
}

.skills p {
  font-weight: normal;
  font-size: 25px;
}

.skills-stars {
  width: 250px;
  padding-left: 30px;
}

.skills-stars p {
  font-size: 25px;
}
